<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creacion y Edicion de Proveedores</title>
</head>
<body>
  <form th:action="@{/guardar}" method="post" th:object="${proveedor}">
    <input type="number" name="idProveedor" th:field="*{idProveedor}" style="display: none;"/>
    <br>
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" th:field="*{nombre}" required/>
    <br>
    <label for="telefono">Telefono: </label>
    <input type="number" name="telefono" th:field="*{telefono}" required/>
    <br>
    <label for="direccion">Direccion: </label>
    <input type="text" name="direccion" th:field="*{direccion}" required/>
    <br>
    <label for="email">Email: </label>
    <input type="text" name="email" th:field="*{email}" required/>
    <br>
    <label for="sitioWeb">Sitio Web: </label>
    <input type="text" name="sitioWeb" th:field="*{sitioWeb}" required/>
    <br>
    <label for="estado">Estado: </label>
    <select type="number" name="estado" th:field="*{estado}" required>
      <option value="1" >Activo</option>
      <option value="2">Inactivo</option>
      <option value="3">Dado de baja</option>
    </select>
    <br>

    <button type="submit"  name="guardar" th:if="${editar}" th:text="Actualizar">Actualizar Datos</button>
    <button type="submit"  name="guardar" th:unless="${editar}" th:text="Guardar">Guardar Proveedor</button>
    <a th:href="@{/listadoProveedores}">Cancelar</a>
  </form>
</body>
</html>