<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lista de Proveedores</title>
</head>
<body>
<!--<div th:if="${listaUsuarios != null and !listaUsuarios.empty}"> -->
  <div>
  <table border="1">
    <tr>
      <th>Codigo Proveedor</th>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Sitio Web</th>
      <th>Estado</th>
    </tr>
      <h1 th:text="${tituloTabla}"></h1>
    <tr th:each="proveedor : ${listaProveedores}">
        <td th:text="${proveedor.codigoProveedor}"></td>
        <td th:text="${proveedor.nombre}"></td>
        <td th:text="${proveedor.telefono}"></td>
        <td th:text="${proveedor.direccion}"></td>
        <td th:text="${proveedor.email}"></td>
        <td th:text="${proveedor.sitioWeb}"></td>
        <td th:text="${proveedor.manejoEstados(proveedor.estado)}"></td>
    </tr>
  </table>
  <!--
  <td><a th:href="@{/editar/} + ${producto.codigoProducto}" th:text = "editar"/></td>
  <td><a th:href="@{/eliminar/} + ${producto.codigoProducto}" th:text = "eliminar"/></td>
  -->
</div>

</body>
</html>